<%- include ('../../partials/header') %>
<%- include ('../../partials/admin-navbar') %>

<div class="container">
    <hr>
    <h2>Arquitetos</h2>
    <a href="/admin/architects/new"> <button class="btn-success">Cadastrar novo arquiteto</button></a>
    <hr>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
            </tr>
        </thead>
        <tbody>
            <% architects.forEach(architect => { %>
                <tr>
                    <td><%= architect.id %></td>
                    <td><%= architect.name %></td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</div>

<%- include ('../../partials/admin-footer') %>