<%- include ('../../partials/admin-header') %>
<%- include ('../../partials/admin-navbar') %>

<section id="index-architects" class="index-architects">
    <div class="container">
        <hr>
        <h2>Arquitetos</h2>
        <a href="/admin/architects/new"> <button class="btn-success">Cadastrar Novo Arquiteto</button></a>
        <hr>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <% architects.forEach(architect => { %>
                    <tr>
                        <td><%= architect.id %></td>
                        <td><%= architect.name %></td>
                        <td>
                            <a href="/admin/architects/edit/<%= architect.id %>"><button class="">Editar</button></a>
                            <form method="POST" action="/architects/delete" style="display: inline" onsubmit="confirmarDelecao(event, this)">
                                <input type="hidden" name="id" value="<%= architect.id %>">
                                <button class="">Deletar</button>
                            </form>
                        </td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
</section>

<%- include ('../../partials/admin-footer') %>

<script>
    function confirmarDelecao(event, form) {
        event.preventDefault();
        let decision = confirm("Vocẽ quer deletar este arquiteto?");
        if(decision) {
            form.submit();
        }
    }
</script>