<%- include ('../../partials/header') %>
<%- include ('../../partials/admin-navbar') %>

<div class="container">
    <br>
    <form method="POST" action="/projects/update" id="description-form" enctype="multipart/form-data">    
        <div class="card">
            <div class="card-header">
                <h2>Editar Projeto <%= project.title %></h2>
            </div>
            <div class="card-body">
                <label for="title"><strong>Título:</strong></label>
                <input class="form-control" type="text" name="title" id="title" value="<%- project.title %>"><br>
                <label for="location"><strong>Local:</strong></label>
                <input class="form-control" type="text" name="location" id="location" value="<%- project.location %>"><br>
                <label for="year"><strong>Ano:</strong></label>
                <input class="form-control" type="text" name="year" id="year" value="<%- project.year %>"><br>
                <label for="area"><strong>Área:</strong></label>
                <input class="form-control" type="text" name="area" id="area" value="<%- project.area %>"><br>
                
                
               
                <label for="cape-image"><strong>Imagem principal:</strong></label><br>
                <div class="image-preview-div">
                    <label for="cape-image">   
                        <img class="image-preview" alt="Preview da Imagem" src="/static/uploads/<%= project.capeImage %>" id="cape-image-preview">   
                    </label>
                </div>
                <div class="resolutions-div">
                    <img class="" alt="Resoluções 16:9" src="/static/img/note.png" id="resolutions">
                </div>
                <br>
                <input type="file" accept="image/*" id="cape-image" name="project-images" onchange="document.getElementById('cape-image-preview').src = window.URL.createObjectURL(this.files[0])"><br><br>
            
                
                
                <label for="cape-image"><strong>Excluir imagens secundárias:</strong></label><br>

                <% secondaryImage.forEach(secondaryImage => { %>
                    <div class="secondary-image-div">
                        <div class="image-preview-div">
                            <div class="close-image-div">
                                <img class="close-image" src="/static/img/close.png" alt="Imagem de Fechar">
                            </div>
                            <label for="secondary-images">
                                <img class="image-preview" alt="Preview da Imagem" src="/static/uploads/<%= secondaryImage.title %>" id="secondary-image-preview">   
                            </label>
                        </div>
                        <br>
                    </div>
                <% }); %>

                <br><br>
                <label for="cape-image"><strong>Adicionar imagens secundárias:</strong></label><br>
                <div class="image-preview-div">
                    <label for="secondary-images">
                        <img class="image-preview" alt="Preview da Imagem" src="/static/img/image-preview.png" id="secondary-image-preview">   
                    </label>
                </div>
                <br>
                <input multiple="multiple" type="file" accept="image/*" id="secondary-images" name="project-images" onchange="document.getElementById('secondary-image-preview').src = window.URL.createObjectURL(this.files[0]);"><br><br>
            
                
                <br><br>
                <label for="description"><strong>Descrição:</strong></label>
                <textarea class="form-control" name="description" id="description" cols="30" rows="10"><%- project.description %></textarea>
            </div>
            <input class="btn btn-success" type="submit" value="Cadastrar" style="border-radius: 0px 0px 5px 5px;">
        </div>
        <br>
    </form>
</div>

<%- include ('../../partials/admin-footer') %>

<!-- TINYMCE -->
<script src="/static/tinymce/tinymce.min.js"></script>
<script>
    tinymce.init({
        language: 'pt_BR',
        selector: "#description",
    });
</script>

<!-- Multiple Upload -->
<!--
<script>
    description-form.addEventListener('submit', async function (e) {
    const files = e.target.secondary-images.files;
    if (files.length != 0) {
        for (const single_file of files) {
            data.append('secondary-images', single_file);
        }
    }
});

const submit_data_fetch = await fetch('/projects/save', {
    method: 'POST',
    body: data
});
-->
</script>