<%- include ('../../partials/header') %>
<%- include ('../../partials/admin-navbar') %>

<div class="container">
    <hr>
    <div class="card">
        <div class="card-header">
            <h2>Editar Projeto</h2>
        </div>
        <div class="card-body">
            <form method="POST" action="/projects/update">
                <input type="hidden" value="<%= project.id %>" name="id">
                <input class="form-control" type="text" name="title" value="<%- project.title %>"><br>
                <textarea class="form-control" name="body" id="project" placeholder="Escreva o projeto aqui" cols="30" rows="10"><%- project.body %></textarea><br>
                <label">Categoria</label>
                <select name="category" class="form-control">
                    <% categories.forEach((category) => { %>
                        <% if(category.id == project.categoryId) { %>
                            <option value="<%= category.id %>" selected><%= category.title %></option>
                        <% } else { %>
                            <option value="<%= category.id %>"><%= category.title %></option>
                        <% } %>
                    <% }); %>
                </select><br>
                <button class="btn btn-success">Atualizar</button>
            </form>
        </div>
    </div>
</div>

<%- include ('../../partials/footer') %>

<script src="/static/tinymce/tinymce.min.js"></script>
<script>
    tinymce.init({
        language: 'pt_BR',
        selector: "#project",
        plugins: 'advlist autolink link image lists preview searchreplace wordcount fullscreen insertdatetime media save table emoticons'
    });
</script>