<%- include ('../../partials/admin-header') %>
<%- include ('../../partials/admin-navbar') %>

<section id="index-projects" class="index-projects">
    <div class="container">
        <hr>
        <h2>Projetos</h2>
        <a href="/admin/projects/new"> <button class="">Criar Novo Projeto</button></a>
        <hr>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Título</th>
                    <th>Slug</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <% projects.forEach(project => { %>
                    <tr>
                        <td><%= project.id %></td>
                        <td><%= project.title %></td>
                        <td><%= project.slug %></td>
                        <td>
                            <a href="/admin/projects/edit/<%= project.id %>"><button class="">Editar</button></a>
                            <form method="POST" action="/projects/delete" style="display: inline" onsubmit="confirmarDelecao(event, this)">
                                <input type="hidden" name="id" value="<%= project.id %>">
                                <button class="">Deletar</button>
                            </form>
                        </td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
    </div>
</section>

<%- include ('../../partials/admin-footer') %>

<script>
    function confirmarDelecao(event, form) {
        event.preventDefault();
        let decision = confirm("Vocẽ quer deletar este projeto?");
        if(decision) {
            form.submit();
        }
    }
</script>