<%- include ('partials/header') %>
<%- include ('partials/navbar') %>

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about" style="background-color: #EFEEE9">
      <div class="container" data-aos="fade-up">

      <% architect.forEach(architect => { %>

        <div class="row position-relative">

          <div class="col-lg-7 about-img" style="background-image: url(static/uploads/<%= architect.image %>)"></div>

          <div class="col-lg-7">
            <h2><%= architect.name %></h2>
            <div class="our-story">
              <h4>Arquiteto Urbanista</h4>
              <h3>Sobre mim</h3>
              <p><%= architect.description %></p>
              <ul>
                <li>
                  <a href="<%= architect.whatsappLink %>" target="_blank"><img src="static/img/favicon/wpp-36x36.png" alt="Favicon do WhatsApp"></a>
                  <a href="<%= architect.instagramLink %>" target="_blank"><img src="static/img/favicon/ig-36x36.png" alt="Favicon do Instagram"></a>
                  <a href="<%= architect.facebookLink %>" target="_blank"><img src="static/img/favicon/fb-36x36.png" alt="Favicon do Facebook"></a>
                </li>
              </ul>

            </div>
          </div>

        </div>

        <% }); %>

      </div>
    </section>
    <!-- End About Section -->

  </main><!-- End #main -->

  <%- include ('partials/footer') %>