<%- include ('partials/header') %>
<%- include ('partials/navbar') %>
    
    <!-- ======= Our Projects Section ======= -->
    <section id="projects" class="projects">
        <div class="container-fluid" style="background-color: #EFEEE9;" data-aos="fade-down">
  
          <div class="portfolio-isotope" data-portfolio-filter="*" data-portfolio-layout="masonry">  
  
            <div class="row gy-4 portfolio-container" data-aos="fade-up" data-aos-delay="200">
  
              <% projects.forEach(project => { %>

              <div class="col-lg-6 col-md-6 portfolio-item portfolio-item-padding">
                <div class="portfolio-content h-100">
                  <img src="static/uploads/<%= project.capeImage %>" class="img-fluid" alt="">
                  <div class="portfolio-info">
                    <h4><%= project.title %></h4>
                    <p><%= project.description %></p>
                    <a href="static/uploads/<%= project.capeImage %>" title="<%= project.title %>" data-gallery="portfolio-gallery-remodeling" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                    <a href="/<%= project.slug %>" title="Ver Projeto" class="details-link"><i class="bi bi-link-45deg"></i></a>
                  </div>
                </div>
              </div><!-- End Projects Item -->

              <% }); %>
  
            </div><!-- End Projects Container -->
  
          </div>
  
        </div>
      </section><!-- End Our Projects Section -->

<%- include ('partials/footer') %>