<%- include ('partials/header') %>
<%- include ('partials/navbar') %>

  <main id="main">

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details" style="background-color: #EFEEE9">
      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-8">
            <div class="portfolio-details-slider swiper">
              <div class="swiper-wrapper align-items-center">

                <% secondaryImage.forEach(secondaryImage => { %>

                  <div class="swiper-slide">
                    <img src="static/uploads/<%= secondaryImage.title %>" alt="">
                  </div>
  
                <% }); %>

              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="portfolio-info">
              <h3>Informações do Projeto</h3>
              <ul>
                <li><strong>Título</strong>: <%= project.title %></li>
                <li><strong>Local</strong>: <%= project.location %></li>
                <li><strong>Ano</strong>: <%= project.year %></li>
                <li><strong>Área</strong>: <%= project.area %></li>
              </ul>
            </div>
            <div class="portfolio-description">
              <h2>Descrição</h2>
              <p>
                <%= project.description %>
              </p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Details Section -->

  </main><!-- End #main -->

<%- include ('partials/footer') %>